@font-face {
  font-family: "Ringside Narrow";
  font-display: swap;
  src: url("../themes/eet/font/RingsideNarrow-Book.otf");
}

@font-face {
  font-family: "Ringside Narrow";
  font-display: swap;
  font-weight: bold;
  src: url("../themes/eet/font/RingsideNarrow-Bold.otf");
}

@font-face {
  font-family: "Acta";
  font-display: swap;
  font-weight: bold;
  src: url("../themes/eet/font/Acta-Medium.otf");
}

@font-face {
  font-family: "Acta";
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url("../themes/eet/font/Acta-BookItalic.otf");
}

body.no_scroll {
  overflow: hidden;
}

#mask_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hidden {
  display: none !important;
}

main {
  line-height: 1;
  font-family: "Ringside Narrow", Arial, ui-sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.short-des {
  display: -webkit-box;
  overflow: hidden;
  max-height: 34px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}

.post-title {
  font-family: "Acta";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 4px;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-title-18 {
  font-family: "Acta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 4px;

  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.watch-now {
  background: linear-gradient(323.4deg, #5f4694 16.81%, #b789e4 88.85%);
}

.watch-wrapper {
  background: rgba(255, 255, 255, 0.82);
}

/* Test Slick Slider */

.slick-next:before,
.slick-prev:before,
[dir="rtl"] .slick-prev:before {
  content: "" !important;
}

.slick-next,
.slick-prev {
  width: 40px !important;
  height: 40px !important;
}
